# latex auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz

# local virtual environment files
.venv/
.env/

# local data, never upload them since they are too large
data/
outputs/maps